:root {
  --grey: #343a40;
  --white: #fff;
}

/* .App {

} */

.main-image {
  width: 100%;
}

.home-container {
  padding: 0;
  color: var(--white);
  background-color: var(--grey);
  height: 100vh;
}