/* Overall styling */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  --grey: #343a40;
  --white: #fff;
}

/* Main styles */
/* .App {
????
} */
/* Home */
.main-image {
  width: 100%;
}

.home-container {
  padding: 0;
  color: var(--white);
  background-color: var(--grey);
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

.title {
  font-family: 'Parisienne', cursive;
  padding-top: 1em;
  font-size: 4em;
  text-align: center;
}

.home-description {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.home-description p {
  text-align: left;
}

/* Contact */
.contact-container {
  padding-top: 5em;
}

/* Media queries for responsive design */