/* Overall styling */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

/* Main styles */
/* Save color scheme hex codes as variables for easy editing */
:root {
  --sky: #cae4db;
  --mist: #7a9d96;
  --cerulean: #00303f;
  --honey: #dcae1d;
  --white: #fff;
  --black: #000;
}
.App {
  background: var(--sky);
  color: var(--cerulean);
  overflow-x: hidden;
}

/* Navbar */
.navbar-custom {
  background-color: var(--cerulean);
  border-bottom: solid var(--mist) 3px;
}

.navlink-custom {
  color: var(--sky) !important;
}

.navlink-custom:hover {
  color: var(--honey) !important;
  font-size: 1.1em;
}

.nav-link {
  color: var(--sky);
}

.nav-link:hover {
  color: var(--honey);
}

.navbar-toggle {
  color: var(--sky);
}

.link-like {
  border: none;
  text-align: left;
  background-color: var(--cerulean);
  color: var(--sky);
}

.link-like:hover {
  color: var(--honey);
}

.title {
  font-family: 'Zeyada', cursive;
  font-size: 5.5em;
  color: var(--honey);
}

  /* Flash Messages */
  .App-message { 
    display: block;
    position: absolute;
    background-color: var(--honey); 
    color: var(--cerulean);
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    z-index: 100 !important;
    width: 100vw;
    text-align: center;
    font-weight: bold;
  }

  .App-message.logout {
    padding-top: 5em;
  }

  .App-message.deleted {
    padding-top: 6em;
  }

  .App-message.saved {
    padding-top: 3em;
  }

  .App-message.login {
    padding-top: 5em;
  }

/* Home */
.carousel {
  margin-top: 50px !important;
  max-height: 100%;
}

.carousel-item {
  max-height: 90vh;
}

.main-image {
  object-fit: contain;
  width: 100vw !important;
}

.home-container {
  background-color: var(--sky);
  color: var(--white);
  margin-right: 0;
  min-height: 100vh;
  width: 105vw;
  overflow-y: scroll;
}

.about-container {
  background-color: var(--mist);
  border-radius: 8px;
  opacity: 0.89;
  max-width: 80vw;
}

.home-description {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.headshot {
  max-width: 25vw;
  border-radius: 8px;
}

.caption {
  color: var(--sky);
  font-size: 0.8em;
}

/* Inventory List */
.inventory-list-container{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.inventory-card {
  background-color: var(--mist);
  opacity: 0.9;
  min-width: 11em;
}

.card-img {
  height: 50vh !important;
  width: auto;
}

.card-body {
  height: 10em;
}

.price {
  color: var(--white);
}

.description {
  color: var(--cerulean);
  font-size: 1em;
}

.inventory-icon {
  border: none;
  text-align: left;
  background-color: var(--mist);
  color: var(--sky);
}

.inventory-icon:hover {
  color: var(--honey);
  font-size: 1.1em;
}

/* Inventory Form */
.inventory-form-container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

.inventory-form {
  background-color: var(--mist);
  opacity: 0.9;
  border-radius: 8px;
}

.form-label {
  color: var(--cerulean);
  font-weight: bold;
}

.upload-button {
  background-color: var(--cerulean) !important;
  border: none !important;
  color: var(--white) !important;
  border: solid 1px var(--cerulean) !important;
}

.upload-button:hover {
  background-color: var(--honey) !important;
  border: solid 1px var(--cerulean) !important;
  color: var(--cerulean) !important;
}

/* Highlights */
.highlights-container {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: var(--sky);
}

.highlights-title {
  background-color: var(--mist);
  color: var(--honey);
  font-family: 'Zeyada', cursive;
  font-size: 5.5em;
  width: 100%;
  margin: 0;
}

.highlights-link {
  color: var(--mist);
}

.highlights-link:hover {
  color: var(--honey);
}

.highlights-message {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
  color: var(--cerulean);
}

.spinner {
  color: var(--mist) !important;
}

.end-of-page {
  overflow: hidden;
}

/* Contact */
.contact-container {
  padding-top: 5em;
  color: var(--white);
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.contact-box {
  background-color: var(--mist);
  opacity: 0.9;
  border-radius: 8px;
  min-height: 80vh;
  margin-bottom: 20px;
}

.icon {
  font-size: 3em;
  color: var(--sky);
}

.icon:hover {
  font-size: 3.5em;
  color: var(--honey);
}

/* Login */
.login-container{
  height: 100vh;
}

.email-input {
  width: 35vw;
}

.password-input {
  width: 35vw;
}

.btn-info {
  color: var(--white) !important;
  background-color: var(--cerulean) !important;
  border: solid var(--cerulean) 1px;
}

.btn-info:hover {
  background-color: var(--honey) !important;
  color: var(--cerulean) !important;
  border: solid var(--cerulean) 1px;
}

/* Media queries for responsive design */
/* Extra Large Screens */
@media (max-width: 1600px){
  .inventory-form {
    margin-left: 5em;
    margin-right: 5em;
  }

  #about-title {
    padding-top: 1em !important;
  }

  .headshot {
    padding-top: 4em;
    padding-bottom: 0.5em;
  }

  .caption {
    padding-bottom: 0.5em !important;
  }
  
  #contact-title {
    padding-top: 1em;
  }
}

/* Large tablets or small laptops */
@media (max-width: 1200px) {
  .contact-box {
    margin-top: 5em !important;
    max-width: 85vw;
    padding-top: 3em !important;
  }
  
  #contact-title {
    margin-top: 0.01em !important;
  }

  .card-img {
    max-height: 25vh;
  }
}

/* Regular sized tablets */
@media (max-width: 768px) {
  .about-container {
    margin-left: 4.8em;
    margin-right: 4.8em;
  }

  .contact-box {
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-top: 1em !important;
    margin-top: 3em !important;
  }

  .inventory-form {
    min-width: 80vw !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

/* Regular sized phones */
@media (max-width: 480px) {
  .about-container {
    margin-left: 2.8em;
    margin-right: 2.8em;
    margin-top: 2em !important;
  }

  #about-title {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
  }
  
  .home-description {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.85em;
  }

  .headshot {
    max-width: 70vw;
    padding-right: 1em !important;
  }

  .caption {
    margin-bottom: 0 !important;
  }

  #contact-title {
    margin-top: 0.01em !important;
    padding-top: 0.5em !important;
  }

  .contact-box {
    margin-top: 1.5em !important;
  }

  .icon {
    padding-right: 0.1em;
  }
  
  #inventory-list-title {
    font-size: 3.8em;
  }

  .inventory-card {
    margin-left: 2em;
    margin-right: 2em;
  }

  .card-img {
    min-height: 55vh;
  }

  #inventory-form-title {
    font-size: 5em;
  }
}

/* Extra small devices */
@media (max-width: 380px) {
  .about-container {
    margin-left: 2em !important;
  }

  #inventory-form-title {
    font-size: 3.7em;
  }

  .inventory-form {
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
  }

  .highlights-title {
    font-size: 4em;
  }

  .photos {
    padding-left: 1px;
    margin-left: 1px;
  }

  .icons{
    margin-right: 28px;
  }

  .login-container {
    padding-left: 0 !important;
    margin-left: 2em !important;
  }

  .email-input, .password-input {
    width: 80vw;
  }
}